.outer-div {
  background-color: #003366; /* Azul mais escuro */
  border-radius: 15px;
  padding: 20px;
}
.inner-div {
  background-color: #3399ff; /* Azul mais claro */
  border-radius: 10px;
  /* margin-top: 20px; */
  padding: 20px;
}

#btnCadastro {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
